<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>

</style>

<body class="h-full grid place-items-center">

    <div id="app">
        <section v-show="inProgressAssignments.length" class="mb-8">
            <h2 class="font-bold mb-2">In Progress</h2>

            <ul>
                <li 
                v-for="assignment in inProgressAssignments" 
                :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }}
                        <input v-model="assignment.complete" type="checkbox" name="" id="">
                    </label>
                </li>
            </ul>
        </section>

        <section v-show="completedAssignments.length">
            <h2 class="font-bold mb-2">Completed</h2>

            <ul>
                <li 
                v-for="assignment in completedAssignments" 
                :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }}
                        <input v-model="assignment.complete" type="checkbox" name="" id="">
                    </label>
                </li>
            </ul>
        </section>
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'Finish Project', complete: false, id:1 },
                        { name: 'Read Chapter 4', complete: false, id:2},
                        { name: 'Turn in homework', complete: false, id:3 }
                    ]
                }
            },
            computed: {
                completedAssignments(){
                    return this.assignments.filter(a => a.complete);
                },
                inProgressAssignments(){
                    return this.assignments.filter(a => !a.complete);
                }
            }
        };

        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>